/**
 * Global App CSS file
 */
.message[role=alert] {
	cursor: pointer;
}

.loading-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.4);
	z-index: 10000;
}

.loading-block {
	top: -50%;
	left: 50%;
	background: rgba(255, 255, 255, 1);
	position: absolute;
	width: 400px;
	margin-left: -200px;
	margin-right: auto;
	z-index: 11000;
}

.loader-img {
	background-image: url(../img/ajax-loader.gif);
	width: 220px;
	height: 19px;
	position: absolute;
	top: 45%;
	right: 45%;
}

.spinner {
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}
/* http://tobiasahlin.com/spinkit/ */
.spinner>div {
	background-color: #333;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* Nego scope edit page */
.full-width {
	width: 100%;
}

h1 {
	font-size: 16px;
	color: #14a7ac;
	margin-bottom: 5px;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.green-table {
	/*margin-left: 50px;*/
	border-spacing: 0;
}

.green-table td {
	padding: 3px;
	min-width: 50px;
	line-height: 19px;
}

.green-table thead {
	background-color: #e8f2f2;
}

.green-table th {
	/*text-align: center;*/
	font-style: italic;
	color: #14a7ac;
	padding: 5px;
	min-width: 50px;
}

.green-table>tbody tr:nth-child(odd) {
	background-color: #eeeeee;
}

.green-table>tbody tr:hover {
	background: #A9D0F5;
}

.green-table .large-column {
	min-width: 150px;
}

#breadcrumbElement {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
}

.bc-element {
	position: relative;
	border: 1px solid #bbbbbb;
	background-color: #fefefe;
	box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.5);
	padding: 3px;
	text-decoration: none;
	margin-right: 10px;
}

.bc-element:hover {
	text-decoration: none;
}

.bc-element:after, .bc-element:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bc-element:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #fefefe;
	border-width: 10px;
	margin-top: -10px;
}

.bc-element:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #bbbbbb;
	border-width: 11px;
	margin-top: -11px;
}

.highlighted {
	background-color: #FBFBA0 !important;
}

.rootelementwrapper {
	margin: -24px 0 0 0;
	float: right;
}

.rootelement {
	border: 1px solid #bbbbbb;
	background-color: #fefefe;
	padding: 6px;
	text-decoration: none;
}

.rootelement:hover {
	background: lightgrey;
}
.c-duplicated{background-color: #b8dcb8;}
.c-not-duplicated{ background-color: #ffdede;}